@charset "utf-8";
#header {
    background-color: #353535;
    height: 90px;
    width: auto;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    color: #FFFFFF;
}
#main {
    height: auto;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
    font-family: "微軟正黑體";
    line-height: 22pt;
    letter-spacing: 5px;
    margin-bottom: 30px;
}
#footer {
    background-color: #353535;
    height: 70px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    color: #FFFFFF;
}
#logo {
    float: left;
    margin-top: 20px;
}
#menu {
    float: right;
    margin-top: 15px;
}

#title {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
#menu li {
    float: left;
    list-style-type: none;
    font-family: "微軟正黑體";
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    width: 120px;
    text-align: center;
    border-top-left-radius: 0px;
}
#menu a {
    font-family: "微軟正黑體";
    color: #FFFFFF;
    text-decoration: none;
}
#menu a:hover  {
    font-family: "微軟正黑體";
    border: 2px solid #FFFFFF;
    position: relative;
    color: #FFFFFF;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 5px;
}
#footer_frame {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    height: 70px;
    text-align: center;
    font-family: "微軟正黑體";
    font-variant: normal;
    line-height: 70px;
}
.mune_a_now {
    border: 2px solid #FFFFFF;
    font-family: "微軟正黑體";
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 5px;
}
h1 {
    width: 300px;
    border-left: 5px solid #2E76DB;
    padding-left: 15px;
    font-family: "微軟正黑體";
}
table #Menu td a {
    font-family: "微軟正黑體";
    color: #2E76DB;
    text-decoration: none;
    background-color: #FFFFFF;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 30px;
    font-weight: bold;
}
table #Menu td a:hover {
    font-family: "微軟正黑體";
    color: #FFFFFF;
    background-color: #2E76DB;
}
#TOP {
    font-family: Arial;
    height: 50px;
    width: 50px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    color: rgba(255,255,255,1);
}
.Command_list_p {
    font-family: "微軟正黑體";
    padding-left: 10px;
}

#page_name {
    font-family: "微軟正黑體";
    font-size: 36px;
    font-weight: bold;
    color: #2E76DB;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: 10px;
}
.server_float:hover {
    background-color: #D0D0D0;
}
.server_float a {
    font-family: "微軟正黑體";
    color: #4E4E4E;
    text-decoration: none;
}
.server_float a:hover  {
    font-family: "微軟正黑體";
    color: #2E76DB;
    text-decoration: none;
}
table#references a {
	font-family: "微軟正黑體";
	color: #FFB223;
	text-decoration: none;
	font-weight: bold;
}
table#references a:hover {
	color: #FF5A23;
	font-weight: bold;
}
.icon {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.icon:hover {
    -webkit-opacity: 0.5;
    opacity: 0.5;
}
